.elementor-2433 .elementor-element.elementor-element-9ad610d:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2433 .elementor-element.elementor-element-9ad610d > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00AEFF;}.elementor-2433 .elementor-element.elementor-element-9ad610d > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:12px 12px 12px 12px;}.elementor-2433 .elementor-element.elementor-element-9ad610d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2433 .elementor-element.elementor-element-e5c8a96{text-align:center;}.elementor-2433 .elementor-element.elementor-element-e5c8a96 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:700;}.elementor-2433 .elementor-element.elementor-element-90282da{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2433 .elementor-element.elementor-element-90282da > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2433 .elementor-element.elementor-element-855dc0d{text-align:center;}.elementor-2433 .elementor-element.elementor-element-18c5d28 > .elementor-widget-container{margin:-5px -5px -5px -5px;border-radius:0px 0px 0px 0px;box-shadow:1px 1px 27px -51px #B200FF;}.elementor-2433 .elementor-element.elementor-element-18c5d28{width:100%;max-width:100%;}.elementor-2433 .elementor-element.elementor-element-c472581 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-2433 .elementor-element.elementor-element-c472581 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-2433 .elementor-element.elementor-element-c472581 .elementor-button{font-family:"Roboto", Sans-serif;font-size:25px;font-weight:700;text-transform:uppercase;letter-spacing:0px;background-color:#00A510;border-style:solid;border-width:1px 1px 1px 1px;border-color:#36FF1D;box-shadow:0px 0px 15px -6px #04EE00;}.elementor-2433 .elementor-element.elementor-element-c472581 > .elementor-widget-container{border-radius:5px 5px 5px 5px;}.elementor-2433 .elementor-element.elementor-element-4820005 > .elementor-container{max-width:980px;}.elementor-2433 .elementor-element.elementor-element-4820005:not(.elementor-motion-effects-element-type-background), .elementor-2433 .elementor-element.elementor-element-4820005 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ECECEC;}.elementor-2433 .elementor-element.elementor-element-4820005, .elementor-2433 .elementor-element.elementor-element-4820005 > .elementor-background-overlay{border-radius:88px 88px 88px 88px;}.elementor-2433 .elementor-element.elementor-element-4820005{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2433 .elementor-element.elementor-element-4820005 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2433 .elementor-element.elementor-element-a0d1034:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2433 .elementor-element.elementor-element-a0d1034 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-2433 .elementor-element.elementor-element-a0d1034 > .elementor-element-populated{border-style:solid;border-color:#E4E4E4;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2433 .elementor-element.elementor-element-a0d1034 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2433 .elementor-element.elementor-element-999c2ce > .elementor-widget-container{margin:20px 30px 0px 30px;background-color:#FFFFFF;border-radius:20px 20px 20px 20px;}.elementor-2433 .elementor-element.elementor-element-be9fc9e{text-align:center;}.elementor-2433 .elementor-element.elementor-element-be9fc9e .elementor-heading-title{color:#303030;font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:700;}.elementor-2433 .elementor-element.elementor-element-be9fc9e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 20px 20px;}.elementor-2433 .elementor-element.elementor-element-e3b1a9d{text-align:center;}.elementor-2433 .elementor-element.elementor-element-e3b1a9d .elementor-heading-title{color:#999999;font-family:"Roboto", Sans-serif;font-size:15px;}.elementor-2433 .elementor-element.elementor-element-e3b1a9d > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-2433 .elementor-element.elementor-element-123f48d{text-align:center;}.elementor-2433 .elementor-element.elementor-element-123f48d .elementor-heading-title{color:#999999;font-family:"Roboto", Sans-serif;font-size:15px;text-decoration:underline;}.elementor-2433 .elementor-element.elementor-element-123f48d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2433 .elementor-element.elementor-element-65fce7e{--spacer-size:100px;}body.elementor-page-2433:not(.elementor-motion-effects-element-type-background), body.elementor-page-2433 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ECECEC;}@media(max-width:767px){.elementor-2433 .elementor-element.elementor-element-9ad610d > .elementor-element-populated{padding:11px 11px 11px 11px;}.elementor-2433 .elementor-element.elementor-element-e5c8a96{text-align:center;}.elementor-2433 .elementor-element.elementor-element-e5c8a96 .elementor-heading-title{font-size:15px;}.elementor-2433 .elementor-element.elementor-element-e5c8a96 > .elementor-widget-container{margin:5px 5px 5px 5px;}.elementor-2433 .elementor-element.elementor-element-90282da{margin-top:0px;margin-bottom:0px;}.elementor-2433 .elementor-element.elementor-element-855dc0d img{width:85%;}.elementor-2433 .elementor-element.elementor-element-855dc0d > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-2433 .elementor-element.elementor-element-18c5d28 > .elementor-widget-container{margin:-5px -5px -5px -5px;border-radius:0px 0px 0px 0px;}.elementor-2433 .elementor-element.elementor-element-18c5d28{width:100%;max-width:100%;}.elementor-2433 .elementor-element.elementor-element-c472581 .elementor-button{font-size:20px;line-height:1em;letter-spacing:0.4px;border-width:1px 1px 1px 1px;border-radius:7px 7px 7px 7px;padding:20px 20px 20px 20px;}.elementor-2433 .elementor-element.elementor-element-c472581 > .elementor-widget-container{margin:15px 15px 15px 15px;border-radius:5px 5px 5px 5px;}.elementor-2433 .elementor-element.elementor-element-4820005 > .elementor-container{max-width:500px;}.elementor-2433 .elementor-element.elementor-element-4820005, .elementor-2433 .elementor-element.elementor-element-4820005 > .elementor-background-overlay{border-radius:20px 20px 20px 20px;}.elementor-2433 .elementor-element.elementor-element-4820005{padding:17px 17px 17px 17px;}.elementor-2433 .elementor-element.elementor-element-a0d1034 > .elementor-element-populated{border-width:1px 1px 1px 1px;}.elementor-2433 .elementor-element.elementor-element-a0d1034 > .elementor-element-populated, .elementor-2433 .elementor-element.elementor-element-a0d1034 > .elementor-element-populated > .elementor-background-overlay, .elementor-2433 .elementor-element.elementor-element-a0d1034 > .elementor-background-slideshow{border-radius:10px 10px 10px 10px;}.elementor-2433 .elementor-element.elementor-element-999c2ce > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2433 .elementor-element.elementor-element-be9fc9e{text-align:center;}.elementor-2433 .elementor-element.elementor-element-be9fc9e .elementor-heading-title{font-size:11px;}.elementor-2433 .elementor-element.elementor-element-be9fc9e > .elementor-widget-container{margin:25px 25px 25px 25px;padding:0px 0px 0px 0px;}.elementor-2433 .elementor-element.elementor-element-d97ea6f > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:25px 0px 0px 0px;}.elementor-2433 .elementor-element.elementor-element-e3b1a9d{text-align:center;}.elementor-2433 .elementor-element.elementor-element-e3b1a9d .elementor-heading-title{font-size:13px;}.elementor-2433 .elementor-element.elementor-element-e3b1a9d > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2433 .elementor-element.elementor-element-123f48d{text-align:center;}.elementor-2433 .elementor-element.elementor-element-123f48d .elementor-heading-title{font-size:10px;line-height:1.2em;}.elementor-2433 .elementor-element.elementor-element-65fce7e{--spacer-size:70px;}}@media(min-width:768px){.elementor-2433 .elementor-element.elementor-element-9ad610d{width:100%;}}/* Start custom CSS for section, class: .elementor-element-4820005 */@media (max-width: 768px) {
  .video-player {
    width: 100%;
    background: 0 0;
  }
  .video-player iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;

  }
  #iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.wrapper iframe {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;

}

* {
  font-family: helvetica, arial, sans-serif;
}

body {
  font-size: 15px;
}

.fb-comments {
  border: 1px solid #e9ebee;
  border-radius: 3px;
  padding: 0 11px;
  padding-bottom: 15px;
  margin: auto;
  position: relative;
  color: #4267b2;
}

.fb-comments-header {
  padding: 15px 0;
  border-bottom: 1px solid #FFFFFF;
}

.fb-comments-header span {
  color: #000;
  font-weight: 700;
  font-size: 0.9em;
}

.fb-comments-comment {
  border: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

.fb-comments-reply-wrapper {
  margin-left: 60px;
  border-left: 1px dotted #EE1740;
  padding-left: 5px;
}

tr,
td {
  border: none;
  margin: 0;
}

td {
  padding: 2.5px;
}

tr {
  padding: 2.5px 0;
}

.fb-comments-comment-img {
  vertical-align: top;
  width: 48px;
  padding-right: 5px;
}

.fb-comments-comment-img img {
  max-width: 48px;
  border-radius: 25px;
}

.fb-comments-comment-name {
  font-size: 0.85em;
}

.fb-comments-comment-name name {
  color: #365899;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-name name:hover {
  text-decoration: underline;
}

.fb-comments-comment-name occupation {
  color: #90949c;
}

.fb-comments-comment-text {
  font-size: 1.0em;
  color: #000;
  border-radius: 21px;
  background-color: #eaebef;
  padding: 10px 20px;
}

.fb-comments-comment-actions like,
.fb-comments-comment-actions reply {
  font-size: 0.75em;
  color: #4267b2;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-actions like.liked {
  color: #90949c;
}

.fb-comments-comment-actions like:hover,
.fb-comments-comment-actions reply:hover {
  text-decoration: underline;
}

.fb-comments-comment-actions likes {
  bg-navy py-4 text-center
  font-size: 15px;
  background: url(../images/6W1DcaeSNSDN.png);
  background-repeat: no-repeat;
  padding-left: 47px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -10px;
  float: right;
  background-color: #fff;
  border: solid #eaebef;
  border-radius: 19px;
}

.fb-comments-comment-actions date {
  font-size: 0.75em;
  color: #90949c;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-actions date:hover {
  text-decoration: underline;
}

.fb-comments-loadmore {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  padding: 0.875em;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
}

.fb-reply-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 100%;
  padding: 5px 7.5px;
  font-size: 0.75em;
  color: #000;
  outline: none;
}

.fb-reply-input:hover,
.fb-reply-button:hover {
  outline: none;
}

.fb-reply-button {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.75em;
  padding: 5px 7.5px;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
  outline: none;
}

.bbtn {
  width: 100%;
  max-width: 449px;
}

@media (max-width: 768px) {
  .video-player {
    margin-top: 0 !important;
  }
}

.a-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0; 
      font: inherit; 
      vertical-align: baseline;
      color: #2e82bc; 
      outline: 0; 
      line-height: 1; 
      text-align: center; 
      position:relative!important; display: inline-block!important;
      border-style: solid; 
      width: 100%; padding-left: 0!important; padding-right: 0!important; 
      margin-bottom: 10px; 
      padding: 22px 44px; border-color: #ff5535; border-width: 0px; 
      border-radius: 6px; 
      background: linear-gradient(to bottom, #FF0F6A 0%, #DF0357 100%); 
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
      text-decoration: none!important;
    }
    .span-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      margin: 0; 
      border: 0; 
      font: inherit;
      vertical-align: baseline;
      display: block; 
      position: relative; 
      z-index: 1; 
      padding: 0 15px; 
      white-space: normal; 
      font-size: 25px;
      color: #ffffff; 
      font-family: Oswald; 
      font-weight: bold; 
      text-shadow: #000000 0px 1px 0px;
      text-decoration: none;
    }
    .span-btn2 {
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      padding: 0; border: 0;
      font: inherit; 
      vertical-align: baseline; 
      display: block; 
      position: relative;
      z-index: 1; 
      margin: .2em 0 -.5em; 
      font-size: 15px; 
      color: #ffd800; 
      font-family: Cabin; 
      font-weight: bold; 
      font-style: italic;
      text-shadow: #000000 0px 1px 0px;
    }/* End custom CSS */
/* Start custom CSS */#bt_pulse {-webkit-animation: pulse 1.0s infinite;}
#bt_pulse:hover {-webkit-animation: none; }/* End custom CSS */